.recommendations {
  position: relative;
  top: -580px;
  padding: 60px 0;
  // .recommendations__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
    gap: 20px;
  }
  // .recommendations__title
  &__title {
    font-family: "Mak";
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    max-width: 465px;
    margin: 0 auto;
    color: $accentColor;

    position: relative;
    &::before {
      @include pseudo;
      @include wh(60px, 32px);
      @include background(url("@img/icons/decor.svg"));
      @include pos(absolute, $top: -60px, $left: 50%);
      transform: translateX(-50%);
    }
    &::after {
      @include pseudo;
      @include wh(100px, 1px);
      background-color: $accentColor;
      @include pos(absolute, $bottom: -70px, $left: 50%);
      transform: translateX(-50%);
    }
  }
  // .recommendations__span-title
  &__span-title {
    color: $mainColor;
  }
  // .recommendations__list
  &__list {
  }
  // .recommendations__item
  &__item {
  }
  // .recommendations__wrap
  &__wrap {
  }
  // .recommendations__span
  &__span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #e9d09d;

    font-family: "Mak";
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
  }
  // .recommendations__text
  &__text {
    font-weight: 350;
    font-size: 18px;
    line-height: 27px;

    /* Gray 2 */
    color: $mainColor;
  }
  // .recommendations__span-text
  &__span-text {
    color: $accentColor;
    font-weight: 700;
  }
}
